/* TODO Add site wide styles */
#root {
  background-size: cover;
  box-sizing: border-box;
  /* padding: 0px; */
  /* margin: 0px; */
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  /* background-color: slategray; */
  /* box-sizing: border-box; */
}

.loginForm {
  display: flex;
  grid-column: 6 / 10;
  grid-row: 7 / 12;
  /* padding: 10px; */
  /* border: 3px solid black; */
  /* border-radius: 50%; */
}

.loginForm form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
}

.signupForm {

  display: flex;
  grid-column: 8 / 15;
  grid-row: 5 / 19;
  background-color: rgba(128, 255, 0, 0.26);
}

.signupForm form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
  color: rgb(70, 80, 90);
}

.signupForm button {
  background-color: rgba(112, 128, 144, 0.685);
  width: 100%;
  height: 55px;
  font-size: 25px;
}

.editPlantForm {
  display: flex;
  grid-column: 6 / 10;
  grid-row: 5 / 9;
}

.editPlantForm form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.733);
}


.PLANTNOTE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(24, 32, 28, 0.493);
  border-radius: 10px;
  grid-row: 1 / 3;
  grid-column: 4 / 6;

}


.titleCard {
  /* background-color: turquoise; */
  width: 100%;
  height: 100%;
  font-family: monospace;
  display: flex;
  /* flex-direction: column; */
  font-weight: bold;
  justify-content: center;
  align-items: center;
  /* text-shadow: snow 1px 0 50px; */

  font-size: 10em;
  letter-spacing: 10px;
  font-weight: bolder;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  color: transparent;
  /* -moz-background-clip: text; */
  -webkit-background-clip: text;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
}





/* NAVBAR STARRRRRRTTTTTTT */

.hideNavbar {
  display: none;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  /* justify-content: space-around; */
  /* flex-direction: column; */
  background-color: rgba(112, 128, 144, 0.688) solid .5px;;
  grid-row: 1 /end;
  grid-column: 1 / 5;
  /* align-items: center; */
  box-shadow: inset 0 0 20px 0 rgba(0, 93, 68, 0.475);
  box-sizing: border-box;
  font-family: monospace;
  font-size: 45px;
  border: rgba(112, 128, 144, 0.688) solid .5px;
}

.noDec{
  color: rgba(112, 128, 144, 0.692);
  text-decoration: none;
}

/* .noDec:hover{
  color: snow;
} */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 6 / 8;
  padding: 10px;
}


.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 11 / 12;
  padding-bottom: 25px;
}

.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 12 / 13;
  padding-bottom: 25px;
}

.addPlant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 1 / 4;
  font-size: 150px;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
}

.toDoList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 4 / 6;
}



.addPlant:hover {
  color: snow;
  background-color: rgba(0, 93, 68, 0.774);
  padding: 0px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  box-shadow: inset 0 0 10px #0000008e;
}


.sideBar:hover {
  background-color: rgba(0, 93, 68, 0.774);
  padding: 0px;
  color: snow;
  font-weight: bolder;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  box-shadow: inset 0 0 10px #0000008e;
}


/* NAVBAR END !!!!!!!!!!!!!!!!!!! */


.profileBttn {
  font-family: monospace;
  height: 100%;
  width: 100%;
  /* background-image: url('https://assets.vogue.com/photos/5c8ff6c0ac563c2de0043d1d/3:4/w_1950,h_2600,c_limit/00-promo-image-boys-with-plants-book.jpg'); */
  background-size: cover;
  background-color: transparent;
  font-size: 40px;
  outline: none;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
  grid-row: 10 / 13;

}

.profileBttn:hover {
  cursor: pointer;
}

.smallBttn {
  font-family: monospace;
  height: 100%;
  width: 100%;
  /* background-image: url('https://assets.vogue.com/photos/5c8ff6c0ac563c2de0043d1d/3:4/w_1950,h_2600,c_limit/00-promo-image-boys-with-plants-book.jpg'); */
  background-size: cover;
  background-color: transparent;
  font-size: 40px;
  outline: none;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
  grid-row: 8 / 10;
}


.profileBttn:hover {
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  /* text-shadow:  0 0 1px rgba(0, 0, 0, 0.5); */
}

.profile-dropdown {
  font-family: monospace;
  grid-row: 10 / 13;
  color: rgb(76, 86, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.logOut {
  background-size: cover;
  background-color: transparent;
  font-size: 40px;
  outline: none;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
}






.homePlantCardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 25px;
  grid-row: 1 / end;
  grid-column: 5 / 21;
  overflow: scroll;
  padding: 20px;
  /* padding-top: 60px; */
  /* padding-bottom: 60px; */

  height: 100%;


  background-color: rgba(0, 93, 68, 0.171);
}

.plantCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  height: 350px;
  /* flex-wrap: wrap; */
  /* margin-bottom: 50px; */
}

.plantCardName {
  font-size: 40px;
  font-family: monospace;
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.plantCardBName {
  font-size: 18px;
  font-family: monospace;
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.plantCard:hover {
  width: 103%;
  height: 103%;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.842);
}







/* START TODO -------------------------------------------- */

.profileTodosContainer {
  grid-row: 1/end;
  grid-column: 5/21;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  /* background-color: blue; */
  /* height: 100%; */
  overflow: hidden;
  box-sizing: border-box;
  /* padding-right: -15px; */
  /* background-color: slategrey; */
}


.profile {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr ;
  grid-row: 1/ 2;
  grid-column: 1/ end;
  /* padding: 20px; */
  height: 100%;
  /* border-radius: 13px; */
  background-color: rgba(91, 105, 117, 0.801);
}



.todosContainer {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 1fr;
  /* border: 1px solid rgb(0, 0, 0); */
  grid-row: 2/end;
  grid-column: 1/ end;
  /* background-color: blue; */
  height: 54%;
  /* overflow: scroll; */
  /* border: 5px solid rgba(112, 128, 144, 0.657); */
  border-radius: 13px;
  /* background-color: slategrey; */
}

.todoScroll {
  display: grid;
  /* grid-row-gap: 10px; */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column: 2 / end;
  /* grid-row: 1 / 3; */
  overflow: auto;
  width: 100%;
  height: 100%;
}

.todo {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr  ;
  border: 1px solid rgb(0, 0, 0);
  /* height: 14px; */
  width: 99%;
  height: 100px;
  /* margin: 10px; */
  /* border-radius: 10px; */
  /* padding: 15px; */
  background-color: rgba(112, 128, 144, 0.13);
  box-shadow: inset 0 0 20px 0 rgba(112, 128, 144, 0.397);
}

.todoSettings {
  border-radius: 5px;
  cursor: pointer;
  grid-column: 10 / end;
  grid-row: 1 / end;
  background-color: rgba(112, 128, 144, 0.24);
  background-image: url("https://img.icons8.com/fluent/50/000000/automatic-contrast.png");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
}

.todoSettings:hover {
  background-color: rgba(112, 128, 144, 0.5);
  box-shadow: inset 0 0 5px 0 rgba(2, 3, 3, 0.774);
  /* rotate: 90deg; */
}

.addTodoBttn {
  border-radius: 5px;
  grid-column: 1 / 2;
  /* grid-row: 1 / 2; */
  font-size: 150px;
  font-family: monospace;
  color: snow;
  background-color: rgba(112, 128, 144, 0.582);
  /* text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5) ; */
}

.addTodoBttn:hover {
  cursor: pointer;
  background-color: rgba(112, 128, 144, 0.767);
  box-shadow: inset 0 0 5px 0 rgba(2, 3, 3, 0.774);
}

.todoTitle {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.todoDescription {
  grid-column: 2 / 7;
  grid-row: 2/end;
}

.todoDescription::before {
  content: "'";
}

.todoComplete {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 7 / 10;
  grid-row: 1/end;
}

.todoText {
  font-family: monospace;
  font-size: 20px;
}






.profilePic img {
  grid-row: 1/2;
  grid-column: 1/ 3;
  width: 120%;
  height: 120%;
}

.profilePic {
  overflow: hidden;
  border-radius: 15px;
  border: 5px solid rgba(0, 0, 0, 0.637);
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.profileName {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 2/ 5;
  font-size: 5.5em;
  font-family: monospace;
  color: rgba(54, 54, 54, 0.979);
  text-shadow: 0px 0px 10px snow;
  padding: 40px;
}

.profileBio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /* background-color: rgba(253, 254, 255, 0.418); */
  grid-row: 2 / 4;
  grid-column: 1 / 5;


  font-size: 1.5em;
  font-family: monospace;
  color: snow;
  text-shadow: 0px 2px 1px rgb(0, 0, 0);
}



.profilePlants {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 33.3%);
  /* background-color: springgreen; */
  /* overflow-y: auto; */
  grid-row: 1 / end;
  grid-column: 5 / 8;
  height: 100%;
  overflow: auto;
  border-radius: 20px;
}

.profilePlant {
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.475);


  color: snow;
  font-family: monospace;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-size: 2em;
}

.profilePlant:hover {
  box-shadow:  none;
}





/* END TODO -------------------------------------------- */




/* START PLANT ---------------------------------------- */

.plantContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* background-color: slategrey; */
  grid-row: 1/end;
  grid-column: 5/end;
  overflow: hidden;
}

.plantName {
  display: flex;
  justify-content: center;
  grid-row: 1 / 3;
  grid-column: 2 / 7;
  background-color: rgba(112, 128, 144, 0.726);
  font-family: monospace;
  font-size: 3em;
  color: black;
  text-shadow: 0px 1px 1px rgb(0, 0, 0);
  padding: 35px;
  border-radius: 20px;
  margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.plantBinomialName {
  display: flex;
  justify-content: center;
  grid-row: 2 / 4;
  grid-column: 1 / 4;
  background-color: rgba(112, 128, 144, 0.726);
  font-family: monospace;
  font-size: 1.75em;
  color: snow;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  padding: 35px;
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 15px;
}

.plantShowFormBttn {
  padding-left: 20px;
  grid-row: 7 / 10;
  grid-column: 1 / 3;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.plantShowFormBttn button {
  border-radius: 40%;
  border: 4px solid rgb(0, 0, 0);
  background-color: rgba(59, 107, 67, 0.548);
  height: 100%;
  width: 100%;
  background-image: url("https://img.icons8.com/cotton/128/000000/settings--v1.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  cursor: pointer;
  background-size: auto;
}

.plantShowFormBttn button:hover {
  /* border-color: rgb(66, 15, 15); */
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.637);
}

.plantCreatedAt {
  padding-left: 20px;
  grid-row: 10 / 11;
  grid-column: 1 / 3;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: rgb(226, 226, 226);
  /* font-family: monospace;
   */
   border-radius: 7px;
  font-size: 1.5em;
  color: rgb(59, 58, 58);
  /* text-shadow: 0px 0px 1px rgb(0, 0, 0); */
}



.plantSunReq {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  background-color: rgba(165, 153, 102, 0.835);
  font-family: monospace;
  font-size: 2em;
  color: black;
  text-shadow: 0px 1px 1px rgb(47, 83, 53);
  /* padding: 35px; */
  border-radius: 20px;
  /* margin-top: 70px; */
  margin-left: 15px;
}

.plantImg {
  display: flex;
  justify-content: center;
  grid-row: 1 / end;
  grid-column: 1 / end;

}

.plantImg img {
  height: 100%;
  border-radius: 20px;

}

.plantDescription {
  padding-top: 150px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 20px;
  grid-column: 5 / 10;
  grid-row: 2 / 10;
  background-color: rgba(92, 103, 116, 0.767);
  font-family: monospace;
  font-size: 1.5em;
  color: snow;
  text-shadow: 0px 1px 2px rgb(0, 0, 0);

}



/* END PLANT --------------------------------------------- */
