/* TODO Add site wide styles */
#root {
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  /* background-color: slategray; */
  /* box-sizing: border-box; */
}









/* NAVBAR STARRRRRRTTTTTTT */

.hideNavbar {
  display: none;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  /* justify-content: space-around; */
  /* flex-direction: column; */
  background-color: rgba(112, 128, 144, 0.688) solid .5px;;
  grid-row: 1 /end;
  grid-column: 1 / 5;
  /* align-items: center; */
  box-shadow: inset 0 0 20px 0 rgba(0, 93, 68, 0.475);
  box-sizing: border-box;
  font-family: monospace;
  font-size: 45px;
  border: rgba(112, 128, 144, 0.688) solid .5px;
}

.noDec{
  color: rgba(112, 128, 144, 0.692);
  text-decoration: none;
}

/* .noDec:hover{
  color: snow;
} */

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 6 / 8;
  padding: 10px;
}


.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 11 / 12;
  padding-bottom: 25px;
}

.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 12 / 13;
  padding-bottom: 25px;
}

.addPlant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 1 / 4;
  font-size: 150px;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
}

.toDoList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 4 / 6;
}



.addPlant:hover {
  color: snow;
  background-color: rgba(0, 93, 68, 0.774);
  padding: 0px;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  box-shadow: inset 0 0 10px #0000008e;
}


.sideBar:hover {
  background-color: rgba(0, 93, 68, 0.774);
  padding: 0px;
  color: snow;
  font-weight: bolder;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  box-shadow: inset 0 0 10px #0000008e;
}


/* NAVBAR END !!!!!!!!!!!!!!!!!!! */


.profileBttn {
  font-family: monospace;
  height: 100%;
  width: 100%;
  /* background-image: url('https://assets.vogue.com/photos/5c8ff6c0ac563c2de0043d1d/3:4/w_1950,h_2600,c_limit/00-promo-image-boys-with-plants-book.jpg'); */
  background-size: cover;
  background-color: transparent;
  font-size: 40px;
  outline: none;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
  grid-row: 10 / 13;
}

.smallBttn {
  font-family: monospace;
  height: 100%;
  width: 100%;
  /* background-image: url('https://assets.vogue.com/photos/5c8ff6c0ac563c2de0043d1d/3:4/w_1950,h_2600,c_limit/00-promo-image-boys-with-plants-book.jpg'); */
  background-size: cover;
  background-color: transparent;
  font-size: 40px;
  outline: none;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
  grid-row: 8 / 10;
}


.profileBttn:hover {
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  /* text-shadow:  0 0 1px rgba(0, 0, 0, 0.5); */
}

.profile-dropdown {
  font-family: monospace;
  grid-row: 10 / 13;
  color: rgb(76, 86, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.logOut {
  background-size: cover;
  background-color: transparent;
  font-size: 40px;
  outline: none;
  text-decoration: none;
  color: rgba(112, 128, 144, 0.692);
}




/* PLANT PAGE --------------------------- */

.plantImg  img{
  width: 400px;
}

/* END PLANT PAGE ------------------------ */


.homePlantCardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 25px;
  grid-row: 1 / end;
  grid-column: 5 / 21;
  overflow: scroll;
  padding: 20px;
  padding-top: 60px;

  height: 100%;


  background-color: rgba(0, 93, 68, 0.171);
}

.plantCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  height: 350px;
  /* flex-wrap: wrap; */
}

.plantCardName {
  font-size: 50px;
  font-family: monospace;
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.plantCardBName {
  font-size: 20px;
  font-family: monospace;
  color: snow;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.plantCard:hover {
  width: 103%;
  height: 103%;
  box-shadow:  0 0 15px rgba(0, 0, 0, 0.842);
}







/* START TODO -------------------------------------------- */

.todo {
  border: 1px solid rgb(0, 0, 0);
}


/* END TODO -------------------------------------------- */
